<div class="col-lg-4">

<span class="tnail">
    <%= image_tag @product.avatar.url(:medium) %>
</span>
<h4 class="inline">Name </h4> <%= @product.name %><br>
<h4 class="inline">Description </h4><%= @product.description %><br>
<h4 class="inline">Price </h4><%= @product.price %><br>
<h4 class="inline">Available </h4><%= @product.quantity %><br>
<h4 class="inline">Category </h4><%= @product.category %><br>
<a class="btn btn-primary btn-sm" onclick="addToCart('<%= @product.id %>')">Buy now</a>

</div>
