<%= form_with(model: product, local: true, multipart: true) do |f| %>
  <% if product.errors.any? %>
    <div class="">
      <% product.errors.full_messages.each do |message| %>
        <span class="form_error"> <%= message %> </span><br>
      <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :product_name %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control", required: '', placeholder: "product name" %>
  </div>
  <div class="form-group">
    <%= f.label :Description %><br />
    <%= f.text_area :description, class: "form-control", required: '', placeholder: "Description" %>
  </div>
  <div class="form-group">
    <%= f.label :Category %><br />
    <%= f.select :category, options_for_select([['Watches', "watches"], ['Phones', "Phones"], ['Laptops', "Laptops"], ['Computers', "Computers"], ['Computer accessories', "Accessories"]], [product.category, product.category] ), {}, {class: "form-control", required: ''}%>
  </div>
  <div class="form-group">
    <%= f.label :Price %><br />
    <%= f.number_field :price, class: "form-control", required: '', placeholder: "Price" %>
  </div>
  <div class="form-group">
    <%= f.label :Quantity %><br />
    <%= f.number_field :quantity, class: "form-control", required: '', placeholder: "Quantity"%>
  </div>

  <div class="form-group">
    <%= f.label :Image %><br />
    <%= image_tag product.avatar.url(:thumb) %>
    <%= f.file_field :avatar, class: "form-control", placeholder: "Image"%>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-block btn-primary"%>
  </div>
<% end %>
